li {
  font-size: 20px;
}

.selectedTask {
  background-color: rgb(128, 128, 128);
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}
